doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Chatify
        link(rel="stylesheet", href="/index.css")
        link(rel="icon" type="image/x-icon" href="/favicon_io/favicon.ico")
        link(href='https://fonts.googleapis.com/css?family=Ubuntu:300,400,600,700&lang=en' rel='stylesheet')
    body 
        div(class="container")
            div(class="navbar")
                img(src="/name.png", alt="brand name")